{
  "presets": [
    ["@babel/preset-env",{"modules": false}]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
// ⚠ In-progress (Not Final)