name: Publish to NPMJS and GPR

on:
  release:
    types: [created]

jobs:
  publish-to-npm-and-gpr:
    runs-on: ubuntu-latest
    steps:
      
      # Checkout the repo
      - uses: actions/checkout@master

      # Publish to NPMJS
      - uses: actions/setup-node@master
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org/'
      - name: Publish to NPMJS
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npm config set scope "@hyperlinks-js"
          npm config list
          npm publish --access public 
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

      # Publish to GitHub Package Registry
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          registry-url: "https://npm.pkg.github.com"
      - name: scope package name as required by GHPR
        run: npm init -y --scope ${{ github.repository_owner }}
      - run: npm publish --ignore-scripts --access public 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
